* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.home-part-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;

}

.homepage-dogs-img {
  height: calc(100% - 60px);
  margin-top: 60px;
}

.home-text-container {
  margin-left: 20px;
}

.home-text-title {
  font-size: 64px;
  width: 400px;
  color: rgb(240, 128, 128)
}

.home-text-body {
  width: 300px;
  color: #595A5A
}


.home-carsouel {
  background: rgb(247, 245, 245);
  height: 100vh;
}

@media only screen and (max-width: 1200px) {

  .home-part-1 {
    flex-direction: column;
    margin-top: 60px;
    justify-content: flex-start;
    height: auto;
  }

  .home-text-title {
    width: 100%;
  }

  .home-text-body {
    width: 500px;
  }
  .homepage-dogs-img {
    width: 100%;
    margin-top: 10px;
    height: auto;
  }
}

@media only screen and (max-width: 700px) {

  .home-part-1 {
    flex-direction: column;
    margin-top: 60px;
    justify-content: flex-start;
    height: auto;
  }

  .home-text-title {
    width: 100%;
    font-size: 50px;
  }

  .home-text-body {
    width: 100%;
  }
  
  .homepage-dogs-img {
    width: 100%;
    margin-top: 10px;
    height: auto;
  }
}