.add-user-detail {
  padding-top: 60px;
  height: calc(100vh - 60px);
}

.add-user-detail-form {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 345px;
  display: flex;
  flex-direction: column;
}

.add-user-detail-title {
  color: #f08080;
  font-size: 36px;
  text-align: center;
  margin-bottom: 25px;
}

.label {
  color: rgb(15, 141, 170);
  padding-right: 5px;
  font-size: 22px;
  margin-top: 30px;
}

.input {
  outline: none;
  width: 300px;
  height: 30px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid rgb(29, 187, 223);
  padding-left: 7px;
}

#add-user-detail-btn {
  margin-top: 40px;
  cursor: pointer;
  background: rgba(29, 188, 223, 0.253);
}

#user-detail-description-input {
  resize: none;
  height: 200px;
  padding: 15px;
}

#add-user-detail-btn:hover {
  background: rgb(29, 187, 223);
  color: #fff;
}

#add-user-detail-btn:active {
  background: rgb(21, 164, 196);
  color: #fff;
}

.address-container {
  width: 300px;
  height: 150px;
}

.address-input {
  width: 100%;
  height: 30px;
  border-radius: 3px;
  border: 1px solid rgb(29, 187, 223);
  margin-top: 5px;
  outline: none;
  font-size: 14px;
  padding-left: 7px;
}





