.slick-prev:before,
.slick-next:before  {
  font-size: 35px;
  opacity: .9;
}

.slider-wrapper {
  text-decoration: none;
  color: black;
}

.slider-wrapper h2 {
  padding: 45px 25px;
  text-align: center;

}

.slider-wrapper a {
  margin: 15px 0;
  text-decoration: none;
  color: black;
}

#dog-container {
  display: flex;
}

#dog-div {
  padding: '15px'
}

.dog-desc {
  align-self: flex-end;
  /* margin-bottom: 20px; */
  width: 100%;
  background-color: rgb(50, 54, 57);
  color: white;
  text-align: center;
  font-size: 24px;
  opacity: .8;
}