.dog-profile-main {
  height: 100vh;
  display: flex;

}

.dog-image {
  height: 100vh;
  flex: 2;
  align-self: flex-end;
}

.dog-info {
  flex: 2;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dog-info h2 {
  color: white;
  background-color: #1dbbdf;
  font-size: 65px;
  margin-left: -65px;
  margin-bottom: 25px;
  display: inline-block;
  padding: 15px;
  border-radius: 5px;
} 
/* 
.about {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
} */

.human-info {
  flex: 2;
}

.dog-stats {
  display: flex;
  justify-content: space-between;
}