.dog-profile-main {
  height: 100vh;
  display: flex;

}

.dog-image {
  height: 100vh;
  flex: 3;
  align-self: flex-end;
}

.dog-info {
  flex: 3;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dog-info h2 {
  color: white;
  background-color: #1dbbdf;
  font-size: 65px;
  margin-left: -65px;
  margin-bottom: 25px;
  margin-top: 45px;
  display: inline-block;
  padding: 18px;
  border-radius: 5px;
} 

.dog-stats,
.about-container {
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
  padding: 20px;
  margin-bottom: 15px;
}

.human-info {
  flex: 2;
}

.dog-stats {
  display: flex;
  justify-content: space-between;
}

.stat-answer {
  font-weight: bold;
}

.stat-type {
  color: grey;
}

.human-info {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 15px;
  padding: 25px;
}

.user-wrapper {
  width: 80%;
  height: 465px;
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.user-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid #1dbbdf;
}

.chat-button {
  height: 30px;
  width: 80%;
  font-size: 20px;
}

